
.container{
    background: #ebebeb;
    border: 1px solid #939393;
}
ul li {
    list-style-type: none;
}
.sidebar-content {
    background: #3a3a3a;
    color: #ffffff;
    height: 79.8%;
}
.sidebar-content a:hover{
    text-decoration: none;
}
.info{
    padding: 30px 20px;
    text-align: center;
}
.contact{
    padding: 30px 20px;
}
.skills {
    padding: 30px 20px;
}

.language {
    padding: 30px 20px;
}
.hobbies {
    padding: 30px 20px;
}
.image {
    background: #fff;
}

.image img {
    position: relative;
    width: 350px;
    height: 250px;
}
.top{
    display: flex;
}

.top i {
    font-size: 2em;
    display: block;
    color: #63bddf;
    margin-right: 20px;
}

.content-right{
    padding-top: 20px;
}
.content-right .title {
    width: 100%;
    border-bottom: 2px solid #84e5dc;
}

.about-me{
    margin-bottom: 20px;
}

.child-content-left li {
    margin: 20px 0px;
}

.child-content-right li {
    margin: 20px 0px;
}

#two {
        position: relative;
        top: 25px;
}
#center-first {
    position: relative;
    left: 20%;
}